<tr>
  <td><%= author.name %></td>
  <td>
    <div class="icons">
      <%= link_to edit_administrate_author_path(author), title:"Editar" do %>
        <%= image_tag "icons/gray/edit.svg" %>
      <% end %>

      <%= link_to [:administrate, author], title:"Visualizar" do %>
        <%= image_tag "icons/gray/eye.svg" %>
      <% end %>

      <%= button_to [:administrate, author], title:"Apagar autor", data: { turbo: false }, method: :delete, class: "button-transparent" do %>
        <%= image_tag "icons/gray/close.svg" %>
      <% end %>
    </div>
  </td>
</tr>
