<div class="row">
  <%= form_with(model: [:administrate, post], class:"form", id:"post-form") do |form| %>
    <div class="input-row">
      <div class="input-container">
        <%= form.label :title, class:"label" %>
        <%= form.text_field :title, disabled: (params[:action] == "show"), placeholder:"Digite aqui o título do post", class:"input" %>
      </div>
    </div>
    <div class="input-row">
      <div class="input-container">
        <%= form.label :body, class:"label" %>
        <%= form.text_area :body, disabled: (params[:action] == "show"), rows:"18", class:"textarea", placeholder:"Escreva aqui o conteúdo do post" %>
      </div>
    </div>
    <div class="input-row">
      <div class="input-container">
        <div>
          <%= form.label :cover_image, class:"label label-input-file" %>

          <div id=<%= dom_id(post) %>>
            <%= image_tag post.cover_image.variant(:thumb) if post.cover_image.attached? %>

            <%= link_to "Remover",
                  destroy_cover_image_administrate_post_path(post),
                  data: { "turbo-confirm": "Tem certeza?", "turbo-method": :delete } if post.cover_image.attached? && (params[:action] != "show")%>
          </div>

          <%= form.file_field :cover_image if (params[:action] != "show")%>
        </div>
      </div>
    </div>

    <%= form.submit "Salvar Post", style: "display: none;" %>

    <%= button_to "Apagar post", [:administrate, post], data: { turbo: false }, method: :delete, class:"button small" if (params[:action] == "show") %>
  <% end %>
</div>
