<tr>
  <td><%= l(post.created_at, format: :short) %></td>
  <td><%= post.category.name %></td>
  <td><%= post.title %></td>
  <td>
    <div class="icons">
      <%= link_to edit_administrate_post_path(post), title:"Editar" do %>
        <%= image_tag "icons/gray/edit.svg" %>
      <% end %>

      <%= link_to [:administrate, post], title:"Visualizar" do %>
        <%= image_tag "icons/gray/eye.svg" %>
      <% end %>

      <%= button_to [:administrate, post], title:"Apagar post", data: { turbo: false }, method: :delete, class: "button-transparent" do %>
        <%= image_tag "icons/gray/close.svg" %>
      <% end %>
    </div>
  </td>
</tr>
