<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_administrate_post_path(@post) %> |
  <%= link_to "Back to posts", administrate_posts_path %>

  <%= button_to "Destroy this post", [:administrate, @post], method: :delete %>
</div>
