<section class="section categories-grid-section">
  <div class="container">
    <div class="title-container with-item">
      <h2 class="title">Navegue por categoria</h2>
      <%= link_to "Ver todos", categories_path, class: "button" %>
    </div>
    <div class="grid">
      <% @categories.each do |category| %>
        <%= link_to category_post_path(category), class:"item" do %>
          <%= image_tag category.cover_image, alt:"Categoria", class:"item-image" %>
          <div class="item-title"><%= category.name %></div>
          <p class="item-description">
            <%= category.description %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
