<%= link_to post_path(post), class:"item" do %>
  <%= image_tag(cover_image_fallback(post), class: "item-image", alt:"post 1")  %>

  <div class="item-row">
    <div class="item-category"><%= post.category.name %></div>
    <div class="item-comments">25</div>
  </div>
  <div class="item-row">
    <div class="item-title">
      <%= post.title %>
    </div>
  </div>
  <div class="item-row">
    <div class="item-author"><%= post.author.name %></div>
    <div class="item-date"><%= post.created_at.strftime("%d de %b") %></div>
  </div>
<% end %>
