<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruby on Rails Club - Home</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <%= favicon_link_tag asset_path("favicon.ico") %>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;800&display=swap"
      rel="stylesheet">

    <!-- Style -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "layouts/shared/application/header" %>
    <%= yield %>
    <%= render partial: "layouts/shared/application/footer" %>

    <%= javascript_include_tag "jquery/jquery1.min" %>
    <%= javascript_include_tag "slick/slick.min" %>
    <%= javascript_include_tag "menu" %>
    <%= javascript_include_tag "posts-grid" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
      <% if notice %>
        toastr.success("<%= notice %>")
      <% end %>

      <% if alert %>
        toastr.error("<%= alert %>")
      <% end %>
    </script>
  </body>
</html>
